// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "font-size": (
      rfs: false,
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "font-weight": (
      responsive: true,
      property: font-weight,
      class: fw,
      values: (
        normal: $font-weight-normal, // 400
        medium: $font-weight-medium, // 500
        bold: $font-weight-semibold, // 600
        bolder: $font-weight-bold,   // 700
      )
    ),
    "letter-spacing": (
      responsive: true,
      property: letter-spacing,
      class: ls,
      values: (
        null: .02em,
        none: 0,
      )
    ),
    "text-indent": (
      responsive: true,
      property: text-indent,
      class: ti,
      values: (
        null: .02em,
        none: 0,
      )
    ),
    // scss-docs-start utils-border-radius
    "rounded": (
      responsive: true,
      property: border-radius,
      class: rounded,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-top": (
      responsive: true,  
      property: border-top-left-radius border-top-right-radius,
      class: rounded-top,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-end": (
      responsive: true,  
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-end,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-bottom": (
      responsive: true,  
      property: border-bottom-right-radius border-bottom-left-radius,
      class: rounded-bottom,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-start": (
      responsive: true,  
      property: border-bottom-left-radius border-top-left-radius,
      class: rounded-start,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-top-start": (
      responsive: true,  
      property: border-top-left-radius,
      class: rounded-top-start,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-top-end": (
      responsive: true,  
      property: border-top-right-radius,
      class: rounded-top-end,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-bottom-start": (
      responsive: true,  
      property: border-bottom-left-radius,
      class: rounded-bottom-start,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-bottom-end": (
      responsive: true,  
      property: border-bottom-right-radius,
      class: rounded-bottom-end,
      values: (
        null: $border-radius,   // 20px
        0: 0,                   // 0px
        1: $border-radius-tiny, // 8px
        2: $border-radius-xs,   // 12px
        3: $border-radius-sm,   // 16px
        4: $border-radius,      // 20px
        5: $border-radius-lg,   // 48px
        6: $border-radius-xl,   // 80px
        7: $border-radius-xxl,  // 100px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    // scss-docs-start utils-borders
    "border": (
      responsive: true,  
      property: border,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-top": (
      responsive: true,
      property: border-top,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-start": (
      responsive: true,
      property: border-start,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-end": (
      responsive: true,
      property: border-right,
      class: border-end,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-bottom": (
      responsive: true,
      property: border-bottom,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-width": (
      responsive: true,
      property: border-width,
      class: border,
      values: $border-widths
    ),
    "border-opacity": (
      responsive: true,
      css-var: true,
      class: border-opacity,
      values: (
        10: .1,
        25: .25,
        50: .5,
        75: .75,
        100: 1
      )
    ),
    // scss-docs-end utils-borders
    // Sizing utilities
    // scss-docs-start utils-sizing
    "width": (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "max-width": (
      responsive: true,
      property: max-width,
      class: mw,
      values: (100: 100%)
    ),
    "viewport-width": (
      responsive: true,
      property: width,
      class: vw,
      values: (100: 100vw)
    ),
    "min-viewport-width": (
      responsive: true,
      property: min-width,
      class: min-vw,
      values: (100: 100vw)
    ),
    "height": (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "max-height": (
      responsive: true,
      property: max-height,
      class: mh,
      values: (100: 100%)
    ),
    "viewport-height": (
      responsive: true,
      property: height,
      class: vh,
      values: (100: 100vh)
    ),
    "min-viewport-height": (
      responsive: true,
      property: min-height,
      class: min-vh,
      values: (100: 100vh)
    ),
    // scss-docs-end utils-sizing
    // scss-docs-start utils-position
    "position": (
      responsive: true,
      property: position,
      values: static relative absolute fixed sticky
    ),
    "top": (
      responsive: true,
      property: top,
      values: $position-values
    ),
    "bottom": (
      responsive: true,
      property: bottom,
      values: $position-values
    ),
    "start": (
      responsive: true,
      property: left,
      class: start,
      values: $position-values
    ),
    "end": (
      responsive: true,
      property: right,
      class: end,
      values: $position-values
    ),
    "translate-middle": (
      responsive: true,
      property: transform,
      class: translate-middle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      )
    ),
    // scss-docs-end utils-position
  ),
  $utilities
);
