// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "font-size": (
      rfs: true,
      responsive: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "font-weight": (
      responsive: true,
      property: font-weight,
      class: fw,
      values: (
        normal: $font-weight-normal, // 400
        bold: $font-weight-semibold, // 600
      )
    ),
    "letter-spacing": (
      responsive: true,
      property: letter-spacing,
      class: ls,
      values: (
        null: .02em,
        none: 0,
      )
    ),
    "text-indent": (
      responsive: true,
      property: text-indent,
      class: ti,
      values: (
        null: .02em,
        none: 0,
      )
    ),
  ),
  $utilities
);
