<section class="py-m py-md-XHuge container category-wrap">
    <div class="w-100 py-xl bg-primary rounded-md-6" style="border-radius: 40px;">
        <div class="container">
            <div class="row row-cols-1 row-cols-xl-2 flex-md-row-reverse">
                <div class="col col-xl-5 ms-xl-auto d-flex flex-column justify-content-center mb-m mb-xl-0">
                    <div class="d-flex flex-column flex-md-row">
                        <div>
                            <img src="../assets/images/deco/polygon-1.png" alt="polygon-1" class="flex-shrink-0">
                        </div>
                        <div class="text-white">
                            <h2 class="fs-1" style="font-weight: 700;">想學什麼嗎？</h2>
                            <h2 class="fs-1" style="font-weight: 700;">一探究竟。</h2>
                            <img src="../assets/images/deco/line-2.png" alt="deco-line" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="swiper categorySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-4 rounded-3" style="background-color: #FF994F;"><img src="../assets/images/icons/megaphoneSimple.png" alt="megaphone icon"></span>
                                <span class="d-flex flex-column ms-5 text-start">
                                    <p class="fw-bold mb-2">網路行銷</p>
                                    <p class="fs-sm" style="letter-spacing: -0.01em; color:#6E7485">342 門課程</p>
                                </span>
                            </a>
                            </div>
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-4 rounded-3" style="background-color: #5E5E5E;"><img src="../assets/images/icons/camera.png" alt="camera icon"></span>
                                <span class="d-flex flex-column ms-5 text-start">
                                    <p class="fw-bold mb-2">拍攝剪輯</p>
                                    <p class="fs-sm" style="letter-spacing: -0.01em; color:#6E7485">563 門課程</p>
                                </span>
                            </a>
                            </div>
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-4 rounded-3" style="background-color: #FF9BAD;"><img src="../assets/images/icons/chartBarHorizontal.png" alt="chartBarHorizontal icon"></span>
                                <span class="d-flex flex-column ms-5 text-start">
                                    <p class="fw-bold mb-2">自我成長</p>
                                    <p class="fs-sm" style="letter-spacing: -0.01em; color:#6E7485">490 門課程</p>
                                </span>
                            </a>
                            </div>
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-4 rounded-3" style="background-color: #564FFD;"><img src="../assets/images/icons/penNib.png" alt="pen icon"></span>
                                <span class="d-flex flex-column ms-5 text-start">
                                    <p class="fw-bold mb-2">藝術設計</p>
                                    <p class="fs-sm" style="letter-spacing: -0.01em; color:#6E7485">230 門課程</p>
                                </span>
                            </a>
                            </div>
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-4 rounded-3" style="background-color: #54DFF2;"><img src="../assets/images/icons/bugDroid.png" alt="bugDroid icon"></span>
                                <span class="d-flex flex-column ms-5 text-start">
                                    <p class="fw-bold mb-2">數據分析</p>
                                    <p class="fs-sm" style="letter-spacing: -0.01em; color:#6E7485">395 門課程</p>
                                </span>
                            </a>
                            </div>
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-4 rounded-3" style="background-color: #52E9BC;"><img src="../assets/images/icons/creditCard.png" alt="creditCard icon"></span>
                                <span class="d-flex flex-column ms-5 text-start">
                                    <p class="fw-bold mb-2">投資理財</p>
                                    <p class="fs-sm" style="letter-spacing: -0.01em; color:#6E7485">486 門課程</p>
                                </span>
                            </a>
                            </div>
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-4 rounded-3" style="background-color: #CF93FF;"><img src="../assets/images/icons/headphones.png" alt="headphones icon"></span>
                                <span class="d-flex flex-column ms-5 text-start">
                                    <p class="fw-bold mb-2">音樂創作</p>
                                    <p class="fs-sm" style="letter-spacing: -0.01em; color:#6E7485">283 門課程</p>
                                </span>
                            </a>
                            </div>
                            <div class="swiper-slide">
                            <a href="#" class="btn btn-white p-5 d-flex align-items-center" style="box-shadow: 0px 12px 32px 0px #1D20261A;">
                                <span class="p-5 rounded-3 bg-primary"><img src="../assets/images/icons/arrow.png" alt="arrow icon"></span>
                                <p class="fw-bold ms-5">探索更多</p>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>