<div class="course-card-swiper-wrap container overflow-x-hidden">
  <div class="swiper course-card-swiper overflow-visible">
    <div class="swiper-wrapper position-relative">
      <!-- course-card-1 -->
      <div class="swiper-slide">
        <a class="card-link" href="#">
          <div class="card position-relative">
            <!-- 定位標籤 -->
            <div class="py-2 px-3 bg-alert-L position-absolute rounded-7 d-none d-md-block" style="top: 16px; left: 16px">
              <div class="d-flex">
                <span class="text-alert text-nowrap align-text-bottom fs-sm fw-bold me-1">限時 8 折</span
                ><img style="max-width: 101px; width: 16px; height: 16px" src="/assets/images/icons/ic_fire.png" alt="fire"/>
              </div>
            </div>
            <img class="rounded-top-4" src="/assets/images/course-5.png" alt=""/>
            <!-- card-title & card-body -->
            <div class="p-4">
              <!-- card-title -->
              <h4 class="fs-6 fw-bold mb-4">
                小白也會！從零開始學習 Python 程式設計
              </h4>
              <!-- card-body -->
              <div class="course-card-body">
                <section class="d-flex align-items-center">
                  <img class="course-card-avatar object-fit-cover" src="/assets/images/avatar-2.png" alt="Kelly Hsu"/>
                  <p class="ms-2 text-gray-8">Kelly Hsu</p>
                </section>
                <section>
                  <p class="text-primary fs-6 fw-bold-700">NT$ 2,480</p>
                  <p class="text-style-1 fs-sm text-end">NT$ 3,200</p>
                </section>
              </div>
            </div>
            <!-- card-footer -->
            <div class="course-card-footer rounded-bottom-4">
              <section>
                <p class="bg-gray-4 py-1 px-3 text-gray-8 rounded-7 fs-sm" style="max-width: 81px">
                  程式開發
                </p>
                <p class="mt-1 text-gray-8 fs-sm">
                  已有 420 位同學加入
                </p>
              </section>
              <section>
                <p>
                  <i class="bi bi-star-fill text-warning align-bottom"></i>
                  <span class="fs-sm text-dark mx-1">4.0</span>
                  <span class="text-style-2 fs-sm">(333)</span>
                </p>
              </section>
            </div>
          </div>
        </a>
      </div>
      <!-- course-card-2 -->
      <div class="swiper-slide">
        <a class="card-link" href="#">
          <div class="card card-tag position-relative">
            <!-- 定位標籤 -->
            <div
              class="py-2 px-3 bg-alert-L position-absolute rounded-7"
              style="max-width: 101px; top: 16px; left: 16px"
            >
              <div class="d-flex">
                <span
                  class="text-alert text-nowrap align-text-bottom fs-sm fw-bold me-1"
                  >限時 8 折</span
                ><img
                  style="width: 16px; height: 16px"
                  src="/assets/images/icons/ic_fire.png"
                  alt="fire"
                />
              </div>
            </div>
            <img
              class="rounded-top-4"
              src="/assets/images/course-6.png"
              alt=""
            />
            <div class="p-4">
              <!-- card-title -->
              <h4 class="fs-6 fw-bold mb-4">
                全面掌握 JavaScript 開發技術
              </h4>
              <!-- card-body -->
              <div class="course-card-body">
                <section class="d-flex align-items-center">
                  <img
                    class="course-card-avatar object-fit-cover"
                    src="/assets/images/avatar-2.png"
                    alt="Kelly Hsu"
                  />
                  <p class="ms-2 text-gray-8">Kelly Hsu</p>
                </section>
                <section>
                  <p class="text-primary fs-6 fw-bold-700">
                    NT$ 2,480
                  </p>
                  <p class="text-style-1 fs-sm text-end">
                    NT$ 3,200
                  </p>
                </section>
              </div>
            </div>
            <!-- card-footer -->
            <div class="course-card-footer rounded-bottom-4">
              <section>
                <p
                  class="bg-gray-4 py-1 px-3 text-gray-8 rounded-7 fs-sm"
                  style="max-width: 81px"
                >
                  程式開發
                </p>
                <p class="mt-1 text-gray-8 fs-sm">
                  已有 420 位同學加入
                </p>
              </section>
              <section>
                <p>
                  <i
                    class="bi bi-star-fill text-warning align-bottom"
                  ></i
                  ><span class="fs-sm text-dark mx-1">4.0</span
                  ><span class="text-style-2 fs-sm">(333)</span>
                </p>
              </section>
            </div>
          </div>
        </a>
      </div>
      <!-- course-card-3 -->
      <div class="swiper-slide">
        <a class="card-link" href="#">
          <div class="card">
            <img class="rounded-top-4" src="/assets/images/course-7.png" alt=""/>
            <div class="p-4">
              <!-- card-title -->
              <h4 class="fs-6 fw-bold mb-4">
                HTML & CSS 網頁設計基礎教程
              </h4>
              <!-- card-body -->
              <div class="course-card-body">
                <section class="d-flex align-items-center">
                  <img
                    class="course-card-avatar object-fit-cover"
                    src="/assets/images/avatar-2.png"
                    alt="Kelly Hsu"
                  />
                  <p class="ms-2 text-gray-8">Kelly Hsu</p>
                </section>
                <section>
                  <p class="text-primary fs-6 fw-bold-700">
                    NT$ 2,480
                  </p>
                  <p class="text-style-1 fs-sm text-end">
                    NT$ 3,200
                  </p>
                </section>
              </div>
            </div>
            <!-- card-footer -->
            <div class="course-card-footer rounded-bottom-4">
              <section>
                <p
                  class="bg-gray-4 py-1 px-3 text-gray-8 rounded-7 fs-sm"
                  style="max-width: 81px"
                >
                  程式開發
                </p>
                <p class="mt-1 text-gray-8 fs-sm">
                  已有 420 位同學加入
                </p>
              </section>
              <section>
                <p>
                  <i
                    class="bi bi-star-fill text-warning align-bottom"
                  ></i
                  ><span class="fs-sm text-dark mx-1">4.0</span
                  ><span class="text-style-2 fs-sm">(333)</span>
                </p>
              </section>
            </div>
          </div>
        </a>
      </div>
      <!-- course-card-4 -->
      <div class="swiper-slide">
        <a class="card-link" href="#">
          <div class="card">
            <img
              class="rounded-top-4"
              src="/assets/images/course-8.png"
              alt=""
            />
            <div class="p-4">
              <!-- card-title -->
              <h4 class="fs-6 fw-bold mb-4">
                更進一步！深入學習 Node.js 與後端開發
              </h4>
              <!-- card-body -->
              <div class="course-card-body">
                <section class="d-flex align-items-center">
                  <img
                    class="course-card-avatar object-fit-cover"
                    src="/assets/images/avatar-2.png"
                    alt="Kelly Hsu"
                  />
                  <p class="ms-2 text-gray-8">Kelly Hsu</p>
                </section>
                <section>
                  <p class="text-primary fs-6 fw-bold-700">
                    NT$ 2,480
                  </p>
                  <p class="text-style-1 fs-sm text-end">
                    NT$ 3,200
                  </p>
                </section>
              </div>
            </div>
            <!-- card-footer -->
            <div class="course-card-footer rounded-bottom-4">
              <section>
                <p
                  class="bg-gray-4 py-1 px-3 text-gray-8 rounded-7 fs-sm"
                  style="max-width: 81px"
                >
                  程式開發
                </p>
                <p class="mt-1 text-gray-8 fs-sm">
                  已有 420 位同學加入
                </p>
              </section>
              <section>
                <p>
                  <i
                    class="bi bi-star-fill text-warning align-bottom"
                  ></i
                  ><span class="fs-sm text-dark mx-1">4.0</span
                  ><span class="text-style-2 fs-sm">(333)</span>
                </p>
              </section>
            </div>
          </div>
        </a>
      </div>
      <!-- course-card-5 -->
      <div class="swiper-slide">
        <a class="card-link" href="#">
          <div class="card position-relative">
            <!-- 定位標籤 -->
            <div
              class="py-2 px-3 bg-alert-L position-absolute rounded-7 d-none d-md-block"
              style="max-width: 101px; top: 16px; left: 16px"
            >
              <div class="d-flex">
                <span
                  class="text-alert text-nowrap align-text-bottom fs-sm fw-bold me-1"
                  >限時 8 折</span
                ><img
                  style="width: 16px; height: 16px"
                  src="/assets/images/icons/ic_fire.png"
                  alt="fire"
                />
              </div>
            </div>
            <img
              class="rounded-top-4"
              src="/assets/images/course-5.png"
              alt=""
            />
            <!-- card-title & card-body -->
            <div class="p-4">
              <!-- card-title -->
              <h4 class="fs-6 fw-bold mb-4">
                小白也會！從零開始學習 Python 程式設計
              </h4>
              <!-- card-body -->
              <div class="course-card-body">
                <section class="d-flex align-items-center">
                  <img
                    class="course-card-avatar object-fit-cover"
                    src="/assets/images/avatar-2.png"
                    alt="Kelly Hsu"
                  />
                  <p class="ms-2 text-gray-8">Kelly Hsu</p>
                </section>
                <section>
                  <p class="text-primary fs-6 fw-bold-700">
                    NT$ 2,480
                  </p>
                  <p class="text-style-1 fs-sm text-end">
                    NT$ 3,200
                  </p>
                </section>
              </div>
            </div>
            <!-- card-footer -->
            <div class="course-card-footer rounded-bottom-4">
              <section>
                <p
                  class="bg-gray-4 py-1 px-3 text-gray-8 rounded-7 fs-sm"
                  style="max-width: 81px"
                >
                  程式開發
                </p>
                <p class="mt-1 text-gray-8 fs-sm">
                  已有 420 位同學加入
                </p>
              </section>
              <section>
                <p>
                  <i
                    class="bi bi-star-fill text-warning align-bottom"
                  ></i
                  ><span class="fs-sm text-dark mx-1">4.0</span
                  ><span class="text-style-2 fs-sm">(333)</span>
                </p>
              </section>
            </div>
          </div>
        </a>
      </div>
      <!-- course-card-6 -->
      <div class="swiper-slide">
        <a class="card-link" href="#">
          <div class="card card-tag position-relative">
            <!-- 定位標籤 -->
            <div
              class="py-2 px-3 bg-alert-L position-absolute rounded-7"
              style="max-width: 101px; top: 16px; left: 16px"
            >
              <div class="d-flex">
                <span
                  class="text-alert text-nowrap align-text-bottom fs-sm fw-bold me-1"
                  >限時 8 折</span
                ><img
                  style="width: 16px; height: 16px"
                  src="/assets/images/icons/ic_fire.png"
                  alt="fire"
                />
              </div>
            </div>
            <img
              class="rounded-top-4"
              src="/assets/images/course-6.png"
              alt=""
            />
            <div class="p-4">
              <!-- card-title -->
              <h4 class="fs-6 fw-bold mb-4">
                全面掌握 JavaScript 開發技術
              </h4>
              <!-- card-body -->
              <div class="course-card-body">
                <section class="d-flex align-items-center">
                  <img
                    class="course-card-avatar object-fit-cover"
                    src="/assets/images/avatar-2.png"
                    alt="Kelly Hsu"
                  />
                  <p class="ms-2 text-gray-8">Kelly Hsu</p>
                </section>
                <section>
                  <p class="text-primary fs-6 fw-bold-700">
                    NT$ 2,480
                  </p>
                  <p class="text-style-1 fs-sm text-end">
                    NT$ 3,200
                  </p>
                </section>
              </div>
            </div>
            <!-- card-footer -->
            <div class="course-card-footer rounded-bottom-4">
              <section>
                <p
                  class="bg-gray-4 py-1 px-3 text-gray-8 rounded-7 fs-sm"
                  style="max-width: 81px"
                >
                  程式開發
                </p>
                <p class="mt-1 text-gray-8 fs-sm">
                  已有 420 位同學加入
                </p>
              </section>
              <section>
                <p>
                  <i
                    class="bi bi-star-fill text-warning align-bottom"
                  ></i
                  ><span class="fs-sm text-dark mx-1">4.0</span
                  ><span class="text-style-2 fs-sm">(333)</span>
                </p>
              </section>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Swiper-button -->
    
    <div class="swiper-button-prev course-swiper-button-prev"></div>
    <div class="swiper-button-next course-swiper-button-next"></div>
  </div>
</div>