<footer class="footer text-white rounded-top-6">
    <div class="container py-8 px-5 py-md-huge px-md-3">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col col-md-3 mb-m mb-md-0">
                <img src="../assets/images/logo-white.png" alt="白色Logo" style="height: 32px;">
            </div>
            <div class="col col-md-9 d-flex align-items-end justify-content-md-end mb-m mb-md-0">
                <ul class="list-unstyled mb-0 fs-sm d-flex">
                    <li class="mb-6 mb-md-0 me-7"><a href="#">常見問題</a></li>
                    <li class="mb-6 mb-md-0 me-7"><a href="#">關於我們</a></li>
                    <li class="mb-6 mb-md-0 me-7"><a href="#">隱私權政策</a></li>
                    <li class="mb-0"><a href="#">使用者條款</a></li>
                </ul>
            </div>
            <div class="col order-4 order-md-3 d-flex align-items-end">
                <h6 class="fs-xs fs-md-sm fw-normal mb-0">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</h6>
            </div>
            <div class="col order-3 mb-7 order-md-4 mb-md-0 mt-4">
                <ul class="list-unstyled mb-0 fs-base lh-1 d-flex justify-content-md-end">
                    <li class="p-3 border border-white rounded-circle"><a href="#"><i class="bi bi-line text-white"></i></a></li>
                    <li class="p-3 border border-white rounded-circle mx-4"><a href="#"><i class="bi bi-youtube text-white"></i></a></li>
                    <li class="p-3 border border-white rounded-circle"><a href="#"><i class="bi bi-facebook text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>