<div class="introHeading-target" id="introHeading2">
  <div class="mb-8">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h3 class="fs-6 fs-lg-5 mb-2">
          <img
            src="/assets/images/deco/flower-5.png"
            class="align-baseline d-lg-none"
            style="width: 16px"
            alt="flower-5"
          /><img
            src="/assets/images/deco/flower-5.png"
            class="align-top d-none d-lg-inline-block"
            style="width: 24px"
            alt="flower-5"
          />預計單元
        </h3>
        <p class="text-gray-8 mb-4 mb-lg-6">18 章 142 單元｜總時長 928 分鐘</p>
      </div>
      <a href="#" class="d-block py-2 link-primary" data-bs-toggle="collapse" data-bs-target="#collapse1,#collapse2,#collapse3,#collapse4,#collapse5,#collapse6,#collapse7,#collapse8,#collapse9,#collapse10,#collapse11,#collapse12,#collapse13,#collapse14,#collapse15,#collapse16,#collapse17,#collapse18" aria-expanded="true" aria-controls="collapseOne">全部展開</a> 
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse1"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/01.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">課前說明</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                4 個單元<i class="bi bi-dot"></i>少於 1 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse1"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample2">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse2"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/02.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">
                  2020 VS Code 網頁編輯器、HTML 基礎教學
                </p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                15 個單元<i class="bi bi-dot"></i>25 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse2"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample2"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample3">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse3"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/03.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">2020 CSS 常用語法</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                9 個單元<i class="bi bi-dot"></i>37 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse3"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample3"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample4">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            tylg-pe="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse4"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/04.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">
                  2020 使用 CSS 變更 HTML 標籤特性
                </p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                13 個單元<i class="bi bi-dot"></i>52 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse4"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample4"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample5">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse5"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/05.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">Flex 網頁排版技巧</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                13 個單元<i class="bi bi-dot"></i>26 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse5"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample5"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample6">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse6"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/06.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">Flex 精神時光屋</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                8 個單元<i class="bi bi-dot"></i>1 小時 15 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse6"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample6"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample7">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse7"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/07.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">章節說明</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                1 個單元<i class="bi bi-dot"></i>少於 1 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse7"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample7"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample8">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse8"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/08.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">網頁排版技巧 Part II</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                7 個單元<i class="bi bi-dot"></i>24 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse8"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample8"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample9">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse9"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/09.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">切圖技巧</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                12 個單元<i class="bi bi-dot"></i>35 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse9"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample9"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample10">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            tylg-pe="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse10"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/10.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">表格與表單設計技巧</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                10 個單元<i class="bi bi-dot"></i>30 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse10"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample10"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample11">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse11"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/11.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">CSS3 技巧</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                5 個單元<i class="bi bi-dot"></i>23 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse11"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample11"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample12">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            tylg-pe="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse12"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/12.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">最後，讓你的網頁變得更專業</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                10 個單元<i class="bi bi-dot"></i>少於 18 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse12"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample12"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample13">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse13"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/13.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">開發多頁式網站實戰講解</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                6 個單元<i class="bi bi-dot"></i>8 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse13"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample13"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample14">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            tylg-pe="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse14"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/14.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">接下來，你還可以學什麼？</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                3 個單元<i class="bi bi-dot"></i>少於 1 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse14"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample14"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample15">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse15"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/15.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">
                  網頁編輯器、HTML 基礎教學（舊章節）
                </p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                4 個單元<i class="bi bi-dot"></i>1 小時 12 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse15"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample15"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample16">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse16"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/16.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">CSS 常用語法（舊章節）</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                6 個單元<i class="bi bi-dot"></i>16 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse16"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample16"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample17">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            tylg-pe="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse17"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/17.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">
                  2020 使用 CSS 變更 HTML 標籤特性
                </p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                8 個單元<i class="bi bi-dot"></i>12 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse17"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample17"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample18">
      <div class="accordion-item mb-4 border-0 rounded-1 shadow-sm">
        <h4 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse18"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="d-flex justify-content-lg-between w-100">
              <div class="d-flex">
                <img
                  src="/assets/images/18.png"
                  class="me-2 object-fit-cover"
                  style="width: 24px; height: 24px"
                  alt="10"
                />
                <p class="ps-2 pe-4 pe-lg-0">網頁排版技巧 Part I（舊章節）</p>
              </div>
              <p class="fs-sm text-gray-8 pe-4 d-none d-lg-block">
                7 個單元<i class="bi bi-dot"></i>7 分鐘
              </p>
            </div>
          </button>
        </h4>
        <div
          id="collapse18"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample18"
        >
          <div
            class="accordion-body px-0 rounded-bottom-start-1 rounded-bottom-end-1"
          >
            <ul class="list-unstyled">
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <div class="d-flex align-items-center">
                      <button
                        type="button"
                        class="btn btn-primary py-1 px-2 me-4 fs-xs"
                      >
                        試看單元
                      </button>
                      <p class="fs-sm text-gray-8">00:10</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>課程最終任務說明
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-camera-video pe-2"></i>課前說明</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p>
                      <i class="bi bi-camera-video pe-2"></i>Hahow
                      學生如何在六角平台檢視問題
                    </p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="w-100 py-4 px-6 btn btn-outline-secondary border-0 rounded-0"
                  type="button"
                >
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <p><i class="bi bi-book pe-2"></i>課業作業</p>
                    <p class="fs-sm text-gray-8">00:10</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
