<div class="introHeading-target" id="introHeading3">
  <div class="mb-8">
    <h3 class="fs-6 fs-lg-5 mb-6">
      <img
        src="/assets/images/deco/flower-5.png"
        class="align-baseline d-lg-none"
        style="width: 16px"
        alt="flower-5"
      /><img
        src="/assets/images/deco/flower-5.png"
        class="align-top d-none d-lg-inline-block"
        style="width: 24px"
        alt="flower-5"
      />關於講師
    </h3>
    <div class="p-4 p-lg-7 rounded-1 shadow">
      <div
        class="d-flex flex-column flex-lg-row pb-m mb-m border-bottom border-1 border-gray-4"
      >
        <div class="d-flex">
          <img
            src="/assets/images/hexschool.png"
            class="d-none d-lg-block img-fluid py-2 me-4"
            alt="hexschool"
          />
          <img
            src="/assets/images/hexschool.png"
            class="d-block d-lg-none img-fluid my-2 me-4"
            style="width: 60px;height: 60px;"
            alt="hexschool"
          />
          <div class="d-flex flex-column justify-content-between">
            <div>
              <h3 class="fs-base fs-lg-6 mb-2">六角學院</h3>
              <p class="fs-sm fs-lg-base text-gray-8">
                打破線上課程售後不理，我們在線上等你！帶你學到會的線上課程。
              </p>
            </div>
            <div class="d-none d-lg-flex">
              <p
                class="fs-base text-gray-8 border-1 border-end border-gray-4 pe-4 me-4"
              >
                2 堂課程
              </p>
              <p
                class="fs-base text-gray-8 border-1 border-end border-gray-4 pe-4 me-4"
              >
                1,567 個學生
              </p>
              <p class="fs-base text-gray-8">1,034 則評論</p>
            </div>
          </div>
        </div>
        <div class="d-flex d-lg-none">
          <p
            class="fs-sm text-gray-8 border-1 border-end border-gray-4 pe-4 me-4"
          >
            2 堂課程
          </p>
          <p
            class="fs-sm text-gray-8 border-1 border-end border-gray-4 pe-4 me-4"
          >
            1,567 個學生
          </p>
          <p class="fs-sm text-gray-8">1,034 則評論</p>
        </div>
      </div>
      <div class="mb-m">
        <p class="fs-sm fs-lg-base text-gray-8 mb-4">
          六角學院是一所線上程式開發學習單位，目前已累積 20,000
          名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。
        </p>
        <p class="fs-sm fs-lg-base text-gray-8">
          我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運
          Know how。
        </p>
      </div>
      <div class="text-end">
        <a href="#" class="link-primary"
          >了解更多講師履歷<i class="bi bi-chevron-right ms-1"></i
        ></a>
      </div>
    </div>
  </div>
  </div>