<div class="introHeading-target" id="introHeading1">
  <div class="mb-8">
    <h3 class="fs-6 fs-lg-5 mb-4 mb-lg-6">
      <img
        src="/assets/images/deco/flower-5.png"
        class="align-baseline d-lg-none"
        style="width: 16px"
        alt="flower-5"
      /><img
        src="/assets/images/deco/flower-5.png"
        class="align-top d-none d-lg-inline-block"
        style="width: 24px"
        alt="flower-5"
      />課程介紹
    </h3>
    <div class="py-0 py-lg-6 px-0 px-lg-7">
      <picture>
        <source
          srcset="/assets/images/course-sm-detail-1.png"
          media="(max-width:992px)"
        />
        <img
          src="/assets/images/course-detail-1.png"
          class="img-fluid mb-6 mb-lg-7"
          alt="course-detail-1"
        />
      </picture>
      <div class="d-flex mb-2 mb-lg-4">
        <div
          class="rounded-1 d-none d-sm-block"
          style="width: 4px; height: 16px; background-color: #0068ff"
        ></div>
        <div
          class="rounded-1 d-block d-sm-none"
          style="width: 4px; height: 40px; background-color: #0068ff"
        ></div>
        <h4 class="ps-2 fs-base">
          入門前端網頁設計從這裡開始，跨出你的第一步！
        </h4>
      </div>
      <p class="text-gray-8 mb-6 mb-lg-7">
        如果你也想要踏入前端的世界，歡迎你來到 Hahow
        與六角學院合作的「前端網頁設計」課程組合，透過一系列前端語言的基礎課程，循序漸進的帶你進入網頁開發的世界。－－而這裡——就是你的第一步！
      </p>
    </div>
    <div class="gradient-overlay">
      <div class="py-0 pt-lg-6 px-0 px-lg-7">
        <picture>
          <source
            srcset="/assets/images/course-sm-detail-2.png"
            media="(max-width:992px)"
          />
          <img
            src="/assets/images/course-detail-2.png"
            class="img-fluid mb-6 mb-lg-7"
            alt="course-detail-1"
          />
        </picture>
        <div class="d-flex mb-2 mb-lg-4">
          <div
            class="rounded-1 d-none d-sm-block"
            style="width: 4px; height: 16px; background-color: #0068ff"
          ></div>
          <div
            class="rounded-1 d-block d-sm-none"
            style="width: 4px; height: 40px; background-color: #0068ff"
          ></div>
          <h4 class="ps-2 fs-base">
            網頁前端的入門磚，讓我們先從學習 HTML & CSS 開始！
          </h4>
        </div>
        <p class="text-gray-8">
          如果你還沒有程式基礎背景，HTML、CSS 便是作為網頁開發的起始點。從
          HTML、 CSS
          入門學習會是個好主意，這裡的學習曲線不會那麼的陡峭，網頁開發的基礎知識正式從這裡開始！
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-4 mb-lg-6">
      <button type="button" class="btn btn-primary py-4 px-huge rounded-2">
        展開更多
      </button>
    </div>
  </div>
</div>
