<div class="introHeading-target" id="introHeading4">
  <div class="mb-8">
    <h3 class="fs-6 fs-lg-5 mb-6">
      <img
        src="/assets/images/deco/flower-5.png"
        class="align-baseline d-lg-none"
        style="width: 16px"
        alt="flower-5"
      /><img
        src="/assets/images/deco/flower-5.png"
        class="align-top d-none d-lg-inline-block"
        style="width: 24px"
        alt="flower-5"
      />購課前問答
    </h3>
    <div class="p-4 p-lg-7 rounded-4 shadow mb-4 d-lg-flex">
      <div class="me-0 me-lg-6 mb-6 mb-lg-0 d-flex d-lg-block">
        <img
          src="/assets/images/avatar-3.png"
          class="object-fit-cover d-block d-lg-none me-2 me-lg-0"
          style="width: 32px; height: 32px"
          alt="avatar-3"
        />
        <img
          src="/assets/images/avatar-3.png"
          class="object-fit-cover d-none d-lg-block"
          alt="avatar-3"
        />
        <div class="d-block d-lg-none">
          <p>Jessica</p>
        </div>
      </div>
      <div class="w-100">
        <div class="mb-4">
          <p class="mb-4 d-none d-lg-block">Jessica</p>
          <div class="mb-4">
            <textarea
              name="formGroupExampleInput"
              type="text"
              class="form-control p-2 p-lg-4 fs-sm fs-lg-base mb-4 mb-lg-0"
              id="formGroupExampleInput"
              placeholder="上課前有什麼疑問嗎？ 在這裡盡情詢問講師！"
              style="height: 100px; resize: none"
            ></textarea>
          </div>
          <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <div class="d-flex align-items-center mb-2 mb-lg-0">
              <img
                src="/assets/images/deco/flower-5.png"
                class="me-2"
                style="width: 16px;height: 16px;"
                alt="flower-5"
              />
              <p class="text-gray-6 fs-sm">
                提問之前也別忘了看看其他同學有沒有跟你有相同的問題哦
              </p>
            </div>
            <div class="w-100 d-block d-lg-none">
              <a
                href="#"
                class="btn btn-gray-4 text-gray-6 rounded-2 px-4 py-3 d-block w-100"
                >送出</a
              >
            </div>
            <div class="d-none d-lg-block">
              <a
                href="#"
                class="btn btn-gray-4 text-gray-6 rounded-2 px-4 py-3"
                >送出</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-7 rounded-4 shadow mb-4">
      <div class="d-lg-flex">
        <div class="me-0 me-lg-6 mb-6 mb-lg-0 d-flex d-lg-block">
          <img
            src="/assets/images/avatar-4.png"
            class="object-fit-cover d-block d-lg-none me-2 me-lg-0"
            style="width: 44px; height: 44px"
            alt="avatar-4"
          />
          <img
            src="/assets/images/avatar-4.png"
            class="object-fit-cover d-none d-lg-block"
            alt="avatar-4"
          />
          <div class="d-block d-lg-none">
            <p>Brian</p>
            <p class="text-gray-6">2024-01-30</p>
          </div>
        </div>
        <div class="w-100">
          <div class="mb-4">
            <p class="mb-1 d-none d-lg-block">Brian</p>
            <p class="mb-4 text-gray-6 d-none d-lg-block">2024-01-30</p>
            <p class="text-gray-8">
              老師您好，想問您:<br />1.
              課程是用MAC作業系統，只使用Windows作業系統的同學會有學習上的問題嗎~<br />2.
              此課程在Udemy、好好學校、六角學院購買會有什麼不一樣嗎~
            </p>
          </div>
          <div class="p-4 bg-gray-1 shadow-sm rounded-4">
            <p class="mb-1">
              六角學院<span
                class="fs-xs text-primary rounded-1 border border-primary py-1 px-2 ms-2"
                >授課老師</span
              >
            </p>
            <p class="mb-4 text-gray-6">2024-01-31</p>
            <p class="text-gray-6">
              嗨嗨 Brian<br />我是六角學院助教 Bingbingboom<br /><br />關於同學的問題：<br />1.
              使用 Windows 系統是可以的，沒有問題哩<br />2. 課程內容都是相同的哦
              ～<br /><br />若有問題歡迎再次發問 :D
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-7 rounded-4 shadow mb-4">
      <div class="d-lg-flex">
        <div class="me-0 me-lg-6 mb-6 mb-lg-0 d-flex d-lg-block">
          <img
            src="/assets/images/avatar-5.png"
            class="rounded-circle object-fit-cover d-none d-lg-block"
            style="width: 60px; height: 60px"
            alt="avatar-5"
          />
          <img
            src="/assets/images/avatar-5.png"
            class="rounded-circle object-fit-cover d-block d-lg-none me-2 me-lg-0"
            style="width: 44px; height: 44px"
            alt="avatar-5"
          />
          <div class="mb-0 mb-lg-4 d-block d-lg-none">
            <p class="mb-0 mb-lg-1">Sandy</p>
            <p class="text-gray-6">2023-12-29</p>
          </div>
        </div>
        <div class="w-100">
          <div class="mb-4">
            <p class="mb-1 d-none d-lg-block">Sandy</p>
            <p class="mb-4 text-gray-6 d-none d-lg-block">2023-12-29</p>
            <p class="text-gray-8">
              您好，這個課程跟六角網站上的課程是一樣的嗎?
            </p>
          </div>
          <div class="p-4 bg-gray-1 shadow-sm rounded-4">
            <p class="mb-1">
              六角學院<span
                class="fs-xs text-primary rounded-1 border border-primary py-1 px-2 ms-2"
                >授課老師</span
              >
            </p>
            <p class="mb-4 text-gray-6">2024-01-31</p>
            <p class="text-gray-6">
              嗨嗨 Sandy<br />我是六角學院助教 Bingbingboom<br /><br />對的，這部分因為字幕問題還沒有更新<br />後續等字幕用好了就會更新哩！<br /><br />若有問題歡迎再次發問
              :D
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-7 rounded-4 shadow mb-4">
      <div class="d-lg-flex">
        <div class="me-0 me-lg-6 mb-6 mb-lg-0 d-flex d-lg-block">
          <img
            src="/assets/images/avatar-6.png"
            class="rounded-circle object-fit-cover d-none d-lg-block"
            style="width: 60px; height: 60px"
            alt="avatar-6"
          />
          <img
            src="/assets/images/avatar-6.png"
            class="rounded-circle object-fit-cover d-block d-lg-none me-2 me-lg-0"
            style="width: 44px; height: 44px"
            alt="avatar-6"
          />
          <div class="mb-0 mb-lg-4 d-block d-lg-none">
            <p class="mb-0 mb-lg-1">Tim</p>
            <p class="text-gray-6">2024-01-30</p>
          </div>
        </div>
        <div class="w-100">
          <div class="mb-4">
            <p class="mb-1 d-none d-lg-block">Tim</p>
            <p class="mb-4 text-gray-6 d-none d-lg-block">2024-01-30</p>
            <p class="text-gray-8">
              助教你好，我本身是一位插畫家，想轉往數位的方向發展。目前想做兩種網站，一個是類似這種的簡易landing
              page，用來介紹我的插畫品牌以及作品或故事等等：https://glory.taipei/#articleSection1<br />另一個是數位繪本的形式，像是這個網站，可以利用滑鼠的點擊、拖曳、hold等功能跟網頁做互動：<br />https://2019.makemepulse.com/<br />請問這堂課學完試可以製作這兩種網頁的嗎？
            </p>
          </div>
          <div class="p-4 bg-gray-1 shadow-sm rounded-4">
            <p class="mb-1">
              六角學院<span
                class="fs-xs text-primary rounded-1 border border-primary py-1 px-2 ms-2"
                >授課老師</span
              >
            </p>
            <p class="mb-4 text-gray-6">2024-01-31</p>
            <p class="text-gray-6">
              嗨嗨 Tim<br />我是六角學院助教 Bingbingboom<br /><br />若是第一種單純呈現圖片、文字、靜態的樣式排版學習完
              HTML/CSS 課程是可以成功製作出來的<br />若是想要製作互動功能、滾動視差、動畫效果會建議再深入學習
              jQuery、Javascript
              相關的課程，瞭解如何使用程式讓使用者與網頁中的元素做互動哦<br /><br />若有問題歡迎再次發問
              :D
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
