.tag {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    border-radius: $border-radius-pill;
    
    &-primary {
        color: $primary;
        background-color: $primary-light;
    }
    
    &-alert {
        color: $alert;
        background-color: $alert-light;
    }
}