.banner{
    background-image: url("/assets/images/hero-sm-5.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    @media (min-width: 576px) {
        background-image: url("/assets/images/hero-5.png");
        background-size: auto;
    }    
}

.pt-custom{
    padding-top: 160px;
    @media(min-width:376px){
        padding-top: 190px;
    }
    @media(min-width:430px){
        padding-top: 225px;
    }
    @media(min-width:510px){
        padding-top: 260px;
    }
    @media(min-width:576px){
        padding-top: 320px;
    }
}

.hex-img{
    width: 60px;
    @media (min-width: 576px) {
        width: 200px;
    }
}

.banner-social-icon-bg{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid $gray-8;
    border-radius: 1000px;
    opacity: 70;
}

.banner-feature-item{
    border: transparent 1px solid;
    &-border{
        border-right: 1px solid $gray-6;
        border-left: 1px solid $gray-6;
    }
}

.banner-icon{
    transition: .3s;
    a:hover{
        transform: scale(1.1);
    }
}