img{
    max-width: 100%;
    height: auto;
}

i{
    color: $gray-8;
}

.banner{
    background-image: url("/assets/images/hero-sm-5.png");
    background-repeat: no-repeat;
    background-position: top center;
    @media (min-width: 576px) {
        background-image: url("/assets/images/hero-5.png");
    }
    
}

.hex-img{
    width: 60px;
    @media (min-width: 576px) {
        width: 200px;
    }
}

.banner-social-icon-bg{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid $gray-8;
    border-radius: 1000px;
    opacity: 70;
}

.banner-feature-item{
    border: transparent 1px solid;
    &-border{
        border-right: 1px solid $gray-6;
        border-left: 1px solid $gray-6;
    }
}

.banner-icon{
    transition: .3s;
    a:hover{
        transform: scale(1.1);
    }
}

// .deco-flower{
//     position: relative;
//     &::before{
//         content: "";
//         position: absolute;
//         z-index: -1;
//         left: -8px;
//         top: 50;
//         background-image: url(/assets/images/deco/flower-5.png);
//         background-repeat: no-repeat;
//         width: 24px;
//         height: 24px;
//     }
// }

.card{
    box-shadow: 0px 25px 50px -12px #0000001F;
}