<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <!-- 品味生活 -->
    

    <div class="container">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <!-- 這邊是放要輪播的內容 -->
            <div class="card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool1.png?raw=true" alt="">
              <h3>1</h3>
              <p>content 1</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool1.png?raw=true" alt="">
              <h3>2</h3>
              <p>content 2</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool1.png?raw=true" alt="">
              <h3>3</h3>
              <p>content 3</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool1.png?raw=true" alt="">
              <h3>4</h3>
              <p>content 4</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool1.png?raw=true" alt="">
              <h3>5</h3>
              <p>content 5</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/tool1.png?raw=true" alt="">
              <h3>6</h3>
              <p>content 6</p>
            </div>
          </div>
        </div>
        
       <!-- If we need pagination -->
       <div class="swiper-pagination"></div>
    
       <!-- If we need navigation buttons -->
       <div class="swiper-button-prev"></div>
       <div class="swiper-button-next"></div>
    
       <!-- If we need scrollbar -->
       <div class="swiper-scrollbar"></div>
      </div>
    </div>

    <!-- <div class="container bg-black text-white" style="height: 200px;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem facilis incidunt beatae aperiam esse at harum ipsam vero, veniam voluptates alias nihil animi culpa sapiente obcaecati fugiat dolorum? Tempora, ad?
    </div> -->


   

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
