<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    

    <div class="container bg-black text-white" style="height: 200px;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem facilis incidunt beatae aperiam esse at harum ipsam vero, veniam voluptates alias nihil animi culpa sapiente obcaecati fugiat dolorum? Tempora, ad?
    </div>


   

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
