<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>intro</title>
  </head>
  <body class="bg-gray-1" data-bs-spy="scroll" data-bs-target="#navbar-example2">
    <section class="intro-title">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-6 mb-lg-8">
            <li class="breadcrumb-item">
              <a href="#" class="link-gray-8 text-decoration-none">所有課程</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#" class="link-gray-8 text-decoration-none">程式</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">網頁前端</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-lg-7 mb-6 mb-lg-0">
            <img
              src="/assets/images/hero-4.png"
              class="img-fluid h-100 rounded-4"
              alt="hero-4"
            />
          </div>
          <div class="col-lg-5 d-flex flex-column">
            <div class="d-flex mb-4 mb-lg-6">
              <a
                class="btn btn-primary-L text-primary fs-sm d-block me-2"
                href="#"
                role="button"
                >程式開發</a
              >
              <a
                class="btn btn-primary-L text-primary fs-sm d-block me-2"
                href="#"
                role="button"
                >小白友善</a
              >
              <a
                class="btn btn-primary-L text-primary fs-sm d-block"
                href="#"
                role="button"
                >網站設計</a
              >
            </div>
            <h1 class="fs-2 fs-lg-1 mb-2 mb-lg-4">
              使用 HTML、CSS 開發一個網站
            </h1>
            <p class="fs-sm fs-lg-base text-gray-8 mb-2 mb-lg-4">
              為你打造就算沒有程式基礎，也能夠逐步學習獲得網頁排版技巧的紮實觀念，六角學院的講師將協助你成就更好的自己！
            </p>
            <p class="fs-sm fs-lg-base mb-6 mb-lg-0">
              16,390 人 <span class="text-gray-8">已註冊</span>
            </p>
            <div class="d-flex mt-lg-auto">
              <button
                class="btn btn-outline-primary py-3 px-4 rounded-2 me-2 w-50 w-lg-25"
                href="#"
                role="button"
              >
                <i class="bi bi-bookmark-fill me-2"></i>收藏課程
              </button>
              <button
                class="btn btn-outline-primary py-3 px-4 rounded-2 w-50 w-lg-25"
                href="#"
                role="button"
                disabled
              >
                <i class="bi bi-share-fill me-2"></i>分享課程
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="feature">
      <div class="container pt-4 pt-lg-xl pb-6 pb-lg-0 position-relative">
        <div
          class="container feature-container border-1 border-gray-4 shadow rounded-4"
        >
          <div class="d-flex flex-column flex-lg-row p-4 p-lg-6">
            <div class="w-100 w-lg-25 py-6 py-lg-4 px-6 border-end-lg">
              <div class="d-flex mb-2">
                <img
                  src="/assets/images/icons/ic_ hexschool.png"
                  class="object-fit-contain"
                  style="width: 24px"
                  alt="hexschool"
                />
                <h2 class="fs-base fs-lg-6">六角學院</h2>
              </div>
              <p class="fs-sm fs-lg-base text-gray-8">
                高雄最大線上程式開發學習單位
              </p>
            </div>
            <div class="w-100 w-lg-25 py-6 py-lg-4 px-6 border-end-lg">
              <div class="d-flex mb-2">
                <h2 class="fs-base fs-lg-6">
                  <i class="bi bi-star-fill"></i>4.9
                </h2>
              </div>
              <p class="fs-sm fs-lg-base text-gray-8">13,208 條評論</p>
            </div>
            <div class="w-100 w-lg-25 py-6 py-lg-4 px-6 border-end-lg">
              <div class="d-flex mb-2">
                <h2 class="fs-base fs-lg-6">3 時 25 分</h2>
              </div>
              <p class="fs-sm fs-lg-base text-gray-8">
                16 個單元，4 個課後學習作業
              </p>
            </div>
            <div class="w-100 w-lg-25 py-6 py-lg-4 px-6">
              <div class="d-flex mb-2">
                <h2>
                  <a
                    class="btn btn-primary-L text-primary fs-sm d-block me-2"
                    href="#"
                    role="button"
                    >前端開發類別排名第一名 🔥</a
                  >
                </h2>
              </div>
              <p class="fs-sm fs-lg-base text-gray-8">16,390 人已註冊</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="intro-nav" id="intro-nav">
      <div class="intro-navbar bg-white border-1 border-bottom border-gray-4 sticky-top">
        <div class="container">
          <nav id="navbar-example2" class="navbar justify-content-start py-0">
            <ul class="nav nav-pills">
              <li class="nav-item me-6 me-lg-7">
                <a class="introHeading fs-sm fs-lg-base d-flex flex-column align-items-center" href="#introHeading1">
                  <p class="py-3 py-lg-4">課程介紹</p>
                  <div class="introHeading-block"></div>
                </a>
              </li>
              <li class="nav-item me-6 me-lg-7">
                <a class="introHeading fs-sm fs-lg-base d-flex flex-column align-items-center" href="#introHeading2">
                  <p class="py-3 py-lg-4">預計單元</p>
                  <div class="introHeading-block"></div>
                </a>
              </li>
              <li class="nav-item me-6 me-lg-7">
                <a class="introHeading fs-sm fs-lg-base d-flex flex-column align-items-center" href="#introHeading3">
                  <p class="py-3 py-lg-4">關於講師</p>
                  <div class="introHeading-block"></div>
                </a>
              </li>
              <li class="nav-item me-6 me-lg-7">
                <a class="introHeading fs-sm fs-lg-base d-flex flex-column align-items-center" href="#introHeading4">
                  <p class="py-3 py-lg-4">購課前問答</p>
                  <div class="introHeading-block"></div>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="container py-m py-lg-xl mb-xl">
        <div class="row">
          <div
            data-bs-spy="scroll"
            data-bs-target="#navbar-example2"
            data-bs-root-margin="0px 0px -40%"
            data-bs-smooth-scroll="true"
            class="col-lg-8 scrollspy-example"
            tabindex="0">
            <%- include('./layout/introHeading1'); -%>
            <%- include('./layout/introHeading2'); -%>
            <%- include('./layout/introHeading3'); -%>
            <%- include('./layout/introHeading4'); -%>
          </div>
          <div class="col-4 d-none d-lg-block">
            <div class="card bg-white shadow-sm sticky-top sticky-top-custom">
              <h5 class="card-header bg-white border-1 border-bottom border-gray-4 ms-4 ps-0 pt-6 pb-4 fs-base">購買本堂課</h5>
              <div class="card-body py-6 px-4">
                <a class="btn btn-alert-L text-alert fs-sm mb-6" href="#" role="button">限定優惠 75 折</a>
                <p class="card-text fs-3 mb-2">NT$ 3,375 <span class="text-gray-6 fs-base"><del>NT$ 4,500</del></span></p>
                <p class="text-gray-8 mb-6">16,390 人已註冊</p>
                <div>
                  <a href="#" class="btn btn-primary rounded-1 w-75 py-4 me-4">立即購買</a>
                  <a href="#" class="btn btn-outline-primary rounded-1 p-4"><i class="bi bi-cart3 fs-5 d-block" style="height: 24px;"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 d-block d-lg-none">
            <div class="card bg-white fixed-bottom border-0 rounded-0">
              <div class="card-body d-flex justify-content-between align-items-center border-top border-gray-4 py-3 px-4">
                <div>
                  <p class="card-text fs-6 mb-1">NT$ 3,375</p>
                  <p class="text-gray-8 fs-xs">16,390 人已註冊</p>
                </div>
                <div>
                  <a href="#" class="btn btn-outline-primary rounded-1 p-4 me-2"><i class="bi bi-cart3 fs-5 d-block" style="height: 24px;"></i></a>
                  <a href="#" class="btn btn-primary rounded-1 px-7 py-4">立即購買</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="module" src="../main.js"></script>
  </body>
</html>
