<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teacher-intro</title>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="banner mb-huge">
        <div class="container pt-sm-xxxl pt-xxl" >
          <div class="row">
            <!-- 教師圖片 -->
              <div class="col-md-3 d-flex justify-content-center align-self-start">
                <div class="d-inline-block bg-white rounded-circle p-sm-5 p-s">
                  <img class="hex-img" src="../assets/images/icons/ic_ hexschool_big.png" alt="六角學院 logo">
                </div>
              </div>
              <div class="banner-content col-md-9 ms-auto pt-md-xxl pt-6">
                <!-- 教師名稱 -->
                <h2 class="banner-title fs-sm-1 fs-3 fw-bold mb-sm-6 mb-4 text-md-start text-center">六角學院</h2>
                <!-- 教師成就 -->
                <ul class="banner-feature list-unstyled d-flex mb-sm-6 mb-4 justify-content-md-start justify-content-center">
                  <li class="banner-feature-item pe-sm-6 pe-3 py-1 py-sm-0 text-gray-8 fs-base-sm fs-sm"><span class="text-primary headings-line-height fs-sm-6 fw-bold me-1">4</span>堂課</li>
                  <li class="banner-feature-item banner-feature-item-border px-sm-6 px-3 py-1 py-sm-0 text-gray-8 fs-base-sm fs-sm"><span class="text-primary headings-line-height fs-sm-6 fw-bold me-1">8463</span>收藏數</li>
                  <li class="banner-feature-item ps-sm-6 ps-3 py-1 py-sm-0 text-gray-8 fs-base-sm fs-sm"><span class="text-primary headings-line-height fs-sm-6 fw-bold me-1">20,218</span>個學生</li>
                </ul>
                <!-- 教師描述 -->
                <p class="banner-text fs-sm-base fs-xs text-gray-8 mb-sm-6 mb-4">六角學院 是一所線上程式開發學習單位，目前已累積 20,000 名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。<br>
                 我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運 Know how。</p>
                 <!-- 社群媒體 -->
                <ul class="banner-icon list-unstyled d-flex me-md-auto mx-auto justify-content-md-start justify-content-center">
                  <li><a href="#" class="banner-social-icon-bg position-relative d-block">
                    <i class="bi bi-line position-absolute top-50 start-50 translate-middle"></i>
                  </a></li>
                  <li><a href="#" class="banner-social-icon-bg position-relative d-block mx-6">
                    <i class="bi bi-youtube position-absolute top-50 start-50 translate-middle"></i>
                  </a></li>
                  <li><a href="#" class="banner-social-icon-bg position-relative d-block">
                    <i class="bi bi-facebook position-absolute top-50 start-50 translate-middle"></i>
                  </a></li>
                </ul>
              </div>
            </div>
            </div>
        </div>
      </section>

      <section class="courses mb-xxhuge">
        <div class="container">
         <div class="course-list-title d-flex align-items-center mb-6">
          <img class="me-2" style="width: 24px; height: 24px;" src="../assets/images/deco/flower-5-big.png" alt="deco-flower">
          <h3 class="fs-5 fw-bold">六角學院開的課</h3>
         </div>
        </div>
        <div class="hexs-courses">
         <%- include('./layout/courseCardSwiper'); -%>
        </div>
       </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
