<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teacher-intro</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="banner mb-3">
      <!-- <div class="position-absolute">
        <img src="../assets/images/hero-5.png" class="banner-img-top">
      </div> -->
        <div class="container">
          <div class="banner-wrapper d-flex justify-content-between"> 
            <div class="banner-teacher-img-bg position-relative">
              <img src="../assets/images/icons/ic_ hexschool.png" class="banner-teacher-img position-absolute top-50 start-50 translate-middle" alt="六角學院 logo" style="width: 200px;">
            </div>
            <div class="banner-content pt-xxl w-75">
              <h2 class="banner-title fs-1 bold mb-6">六角學院</h2>
              <ul class="banner-feature list-unstyled d-flex mb-6">
                <li class="banner-feature-item pe-6 text-gray-8"><span class="text-primary headings-line-height fs-6 bold me-1">4</span>堂課</li>
                <li class="banner-feature-item px-6 text-gray-8"><span class="text-primary headings-line-height fs-6 bold me-1">8463</span>收藏數</li>
                <li class="banner-feature-item ps-6 text-gray-8"><span class="text-primary headings-line-height fs-6 bold me-1">20,218</span>個學生</li>
              </ul>
              <p class="banner-text text-gray-8 mb-6">六角學院 是一所線上程式開發學習單位，目前已累積 20,000 名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。<br>
               我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運 Know how。</p>
              <p class="banner-icon"><i class="bi bi-line me-6"></i><i class="bi bi-youtube me-6"></i><i class="bi bi-facebook"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    





    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
